ExampleWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ExampleWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExampleWS" targetNamespace="http://www.example.org/ExampleWS/" xmlns:xsd1="http://www.example.org/ExampeSchema1">
    <wsdl:documentation>Documentation of the service.</wsdl:documentation>

    <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ExampleWS/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="element1" type="xsd:string" />
          	<xsd:element name="element2" type="xsd:string"></xsd:element>
          	<xsd:element name="number" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="Accounts" type="tns:Account" maxOccurs="unbounded" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
            <xsd:element name="NewOperationFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="NewOperationFault"
            				type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="NewElement" type="xsd:string"></xsd:element>
            <xsd:element name="in" type="xsd:string"></xsd:element>
        </xsd:schema>

        <xsd:import namespace="http://www.example.org/ExampeSchema1"
    		schemaLocation="ExampeSchema1.xsd" /></wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewElement" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="parameters" type="xsd1:Account"/>
  </wsdl:message>
  <wsdl:message name="NewOperationFault">
  	<wsdl:part name="parameters" element="tns:NewOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperation1Request">
  	<wsdl:part name="NewOperation1Request" element="tns:in"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperation1Response">
  	<wsdl:part name="NewOperation1Response" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExampleWS">
    <wsdl:operation name="NewOperation">
      <wsdl:documentation>operation docs</wsdl:documentation>
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleWSSOAP" type="tns:ExampleWS">
  	<wsdl:documentation>documentation</wsdl:documentation>
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="NewOperation">
  		<soap:operation
  			soapAction="http://www.example.org/ExampleWS/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExampleWS">
    <wsdl:port binding="tns:ExampleWSSOAP" name="ExampleWSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
